<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>curriculum
    </title>
    <script type="text/javascript" src='alertConfig.js'></script>
    <link rel="stylesheet" type="text/css"  href="style.css">
</head>

<body>

    <div id="bod">
    <header id="header">

        
        <img id="beta" src="gerardo.jpg" alt="">
        
        <div id="head">
            <h1>
                Gerardo Borrego 
            </h1>
            <h3>
                31.717.920
            </h3>
            <h3>
                Programador
            </h3>
        </div>
        </header>
        
            <main>
                <aside id="left">
                
                    <h2 class="fondo">Contacto</h2><br>
                        <div class="block">
                            <ul>
                            <li>04245904679</li>
                            <li>gerarB31@gmail.com</li>
                            <li>GB31@hotmail.com</li>
                        </ul>
                    
                    <div class="redes">
                        <img class="redesimg" src="facebook.png" alt="facebook" title="facebook logo">
                        <a target="_blank" href="https://www.facebook.com/josegerardo.borregoarevalo?mibextid=LQQJ4d">Facebook de Gerardo</a> <br>
                    
                        <img class="redesimg" src="social.png" alt="facebook" title="facebook logo">
                        <a target="_blank" href="https://www.instagram.com/p/Cx1fZLmtYyK/?igsh=MW1jZHNieDhmM29nZA==">instagram de Gerardo</a>
                    </div>
                    
                </div>
                
                <h2 class="fondo">Habilidades</h2>
                <div class="block">
                    
                    <ul>
                        <li>Liderazgo</li>
                        <li>Comunicacion asertiva</li>
                        <li>resolucion de problemas</li>
                        <li>diseño U/I</li>
                        <li>Trabajo en equipo</li>
                    </ul>
                </div>
                
                <h2 class="fondo">Educacion</h2>
                
                <div class="block">
                    
                    <ul>
                        
                        <li> <strong>Bachiller en ciencias </strong> <br>Unidad educativa Nuestra Señora de la Gracia</li>
                        <li> <strong>Analisis de datos   </strong> <br> IBM</li>
                        <li> <strong> Ingenieria en sistemas </strong><br> Universidad Nacional Experimental Romulo gallegos</li>
                        
                        
                    </ul>
                    
                    
                </div>
                
            </aside>
            
            <aside id="right">
                
                <h2 class="fondo">Acerca de mi</h2>
                
                <div class="block">
                    
                    <p>
                        Soy un apasionado estudiante de Ingeniería en Sistemas con experiencia en diseño de interfaces de usuario (UI), análisis de datos y desarrollo web tanto en el lado del front-end como del back-end. Mi objetivo es utilizar mi conocimiento y habilidades para crear soluciones innovadoras y funcionales que mejoren la experiencia del usuario y agreguen valor a los proyectos en los que participo. En resumen, soy un estudiante de Ingeniería en Sistemas con habilidades en diseño de interfaces de usuario, análisis de datos y desarrollo web tanto en el front-end como en el back-end. Estoy motivado para seguir aprendiendo y creciendo profesionalmente, y estoy emocionado por contribuir con mis conocimientos y habilidades en proyectos desafiantes que me permitan seguir desarrollándome como profesional en el campo de la tecnología.
                        
                        
                    </p>
                </div>
                
                <h2  class="fondo" >Experiencia Laboral</h2>
                
                <div class="block">
                    
                    <ul>
                        <li><strong>desarrollador web freelancer</strong><br> 2023-2024 </li>
                        <li><strong>especialista en diseño frontend</strong><br> Codreams.ca 2021-2023 </li>
                    </ul>
                    
                    
                </div>

                <h2 class="fondo">idiomas</h2>

                <div class="block">
                    <ul>
                        <li>Español</li>
                        <li>ingles</li>
                    </ul>
                </div>
                
            </aside>
            
            
            
        </main>
        
    </div>
</div>
</body>
</html>